@font-face {
    font-family: 'yuanrun';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('https://gh.con.sh/https://raw.githubusercontent.com/woooo-sky/tc/main/font/yuanrun.woff2') format('woff2');
   }
